div.box {
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;
}

.box p {
    height: 75%;
    width: 75%;
    background-color: #0088dd;
}

img.piano {
    width: 200px;
    height: 100px;
}

/* Specifying limiting and maximum width */
td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

tr.header {
    color: blue;
    text-align: left;
    text-decoration: underline;
}

.overflow h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}

.overflow h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

.overflow p {
    min-height: 10px;
    max-height: 50px;
}

.overflow p.one {
    overflow: hidden;
}

.overflow p.two, .overflow p.three{
    overflow: scroll;
}

p.bmp {
    font-size: 2em;
    width: 60px;
    height: 30px;
    border: 2px solid blue;
    margin: 6px;
    padding: 4px;
    background-color: skyblue;
}

div.bmp {
    width: 400px;
    height: 140px;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
}

div.borderwidth p.one {
    border-width: thick;
    border-style: double;
    border-color: blue;
}

div.borderwidth p.two {
    border-width: 4px;
    border-style: dotted solid double dashed;
    border-color: yellow;
}

div.borderwidth p.three {
    border-width: 1px 2px 3px 4px;
    border-style: solid;
    border-color: black;
}

div.differentBorders p {
    border-width: 1px 2px 3px 4px;
    border-style: groove ridge inset outset;
    border-color: pink blue darkcyan red;
}

div.shorthand p {
    width: 200px;
    border: 4px dotted blue;
}

p.padding {
    border: 3px double darkblue;
    padding: 40px 30px 20px 10px;
    color: darkcyan;
    background-color: pink;
}

p.margin {
    width: 200px;
    border: 3px dashed orange;
    padding: 10px;
    margin: 10px 20px;
}

p.center {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: 2px dashed black;
    border-radius: 100px;
    padding: 20px;
}

.inline li {
    display: inline;
}

span.inline {
    display: block;
}

.inline .hidden {
    display: none;
}

p.borderImage {
    border: 5px solid;
    border-image: url("https://www.thesprucepets.com/thmb/wpN_ZunUaRQAc_WRdAQRxeTbyoc=/4231x2820/filters:fill(auto,1)/adorable-white-pomeranian-puppy-spitz-921029690-5c8be25d46e0fb000172effe.jpg")
    11 11 11 11 repeat;
    box-shadow: 10px 10px 10px blue;
}

p.roundedBorder {
    text-align: center;
    padding: 10px;
    border: 2px solid darkcyan;
    border-top-left-radius: 20px 30px;
    border-top-right-radius: 20px 30px;
    border-bottom-left-radius: 90px 40px;
    border-bottom-right-radius: 90px 40px;
}
