div.page {
    margin: 10px auto 10px auto;
    max-width: 900px;
    max-height: 700px;
    min-width: 700px;
    min-height: 400px;
    border: 0.5em double black;
    padding: 20px 40px;
    
}

#logo {
    width: 200px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 200px;
    height: 100px;
}

div.list {
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: black;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
}

ul li {
    display: inline;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    letter-spacing: 40%;
    font-weight: bold;
}

figure {
    width: 700px;
    padding: 0px;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    margin: 20px;
    line-height: 1.5em;
    width: 600px;
    text-align: center;
}

a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover , a.on {
    color: #cc3333;
    background-color: #ffffff;
}


div.images {
    text-align: center;
    width: 600px;
    /* margin: 20px auto 20px auto; */
}